/*------------------------------------------------------------ GLOBAL STYLING ------------------------------------------------------------*/
/*
#DCD6C5 - beige
*/

* { /* Reset CSS */
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #DCD6C5;
}
