/*------------------------------------------------------------ GLOBAL STYLING ------------------------------------------------------------*/
/*
#DCD6C5 - beige
*/

* { /* Reset CSS */
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

#body {
  background-color: #DCD6C5;
}

/*------------------------------------------------- BEGIN GENERAL CLASSES AND IDS--------------------------------------------------------*/
/*------------------------------------------------ Responsive with Mobile Design Priority -----------------------------------------------*/

.hidden { /* Temporarily hide contents */
  display: none;
}

.placeholder-img {
  background-color: #CCCCCC;
  max-width: 500px;
  max-height: 500px;
}

/*-------------------------------------------------------- END GENERAL CLASSES ----------------------------------------------------------*/
